.myBg {
    height: 100vh; 
    background: url("../assets/dark-wood.jpg");
    background-size: cover;
}

.title{
    color: white;
    font-size: 3.5rem;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    text-shadow: 2px 3px #017671;
    line-height: 1;
    letter-spacing: 3px;
}

.myBg2 {
    height: 200vh;
    background: url("../assets/dark-wood.jpg");
}

.foto {
    height: 30em;
}

.titlefilm {
    color: white;
    text-shadow: 2px 4px #017671;
    letter-spacing: 3px;
}

.cardEdit {
    border: 2px solid white;
}



.myBg3 {
    height: 200vh;
    background: url("../assets/dark-wood.jpg");
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }